

* {
	box-sizing: border-box !important;
}

html {
	scroll-behavior: smooth;
}



*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


button:focus {
	outline: none;
}




a {
	color: #222222;
	text-decoration: none;
	outline: none !important;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

:focus {
	outline: 0;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent !important;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}

.lead {
	font-size: 18px;
	line-height: 30px;
	color: #767676;
	margin: 0;
	padding: 0;
}




/** Lastestnews **/
 .Lastestnews {
     padding:90px 0px;
     background: #fff;
}
.Lastestnews .titlepage {
     text-align: center;
     margin-bottom: 60px;
}
.Lastestnews .titlepage span {
     color: #060606;
     font-size: 17px;
     line-height: 23px;
}
 .Lastestnews .news-box {
     background:#fff;
     box-shadow: #ddd 0px 0px 8px 4px;
     margin-bottom: 30px;
}
 .Lastestnews .news-box figure {
     margin: 0;
}
 .Lastestnews .news-box figure img {
     width: 100%;
}
 .Lastestnews .news-box h3 {
     font-size: 22px;
     line-height: 24px;
     color: #060606;
     font-weight: 500;
     padding: 20px 20px 4px 20px;
}
 .Lastestnews .news-box span {
     color: #e61414;
     margin-left: 20px;
}
 .Lastestnews .news-box p{
     color: #7b7a7a;
     font-size:16px;
     line-height: 23px;
     padding: 7px 20px 20px 20px;
}
/** Lastestnews **/


